.features{
  width: 100%;
  min-height: 100vh;
  background-color: $secondary;
  color: $primary;


  & .container {
    max-width: 1200px;
    margin: auto;
    padding: 55px 0;
    @include responsive(mobile) {
      padding: 55px 55px;
    }

    &__title{
      display: flex;
      flex-direction: column;
      gap: 18px;
      justify-content: center;

      &_items{
        display: flex;
        gap: 15px;
        align-items: center;
        & .line{
          width: 15px;
          height: 40px;
          background: $primary;
          transform: skew(340deg);
        }

        h2{
          font-size: 2rem;
        }

      }


      span{
        width: 80%;
        font-size: 1.7rem;
      }
    }

    &__features{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 12px;
      margin-top: 55px;
      font-size: 1.2rem;
      font-weight: bold;
      @include responsive(mobile) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }

      @media (max-width: 400px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }

      div{
        height: 100px;
        border-radius: 4px;
        border: 0.2px solid $primary-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        @include responsive(mobile) {
          padding: 16px;
          text-align: center;
        }
      }
    }

    h3{
      font-size: 1.3rem;
      font-weight: regular;
      text-align: center;
    }
  }
}