.features{
  width: 100%;
  /* min-height: 100vh; */
  background-color: $secondary;
  color: $primary;


  & .container {
    max-width: 1200px;
    margin: auto;
    padding: 55px 0;
    @include responsive(mobile) {
      padding: 55px 55px;
    }

    &__title{
      display: flex;
      flex-direction: column;
      gap: 18px;
      justify-content: center;

      .hr{
        border: 0.3px solid rgba(255, 255, 255, 0.253);
        width: 100%;
      }

      &_items{
        display: flex;
        gap: 15px;
        align-items: center;

        & .line{
          width: 15px;
          height: 40px;
          background: $primary;
          transform: skew(340deg);
        }

        h2{
          font-size: 2rem;
        }

      }

      span{
        width: 80%;
        font-size: 1.7rem;
      }
    }

    &__features{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 12px;
      margin-top: 55px;
      font-size: 1.2rem;
      font-weight: bold;
      @include responsive(mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }
      .features_title{
        text-align: left;
        font-weight: normal;
      }
      .features{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 18px;
        font-weight: normal;
        font-size: 1.8rem;
        & div:nth-child(odd){
          color: white;
        }
        @include responsive(mobile) {
          padding: 16px;
          text-align: left;
        }
      }

      h3{
        font-size: 1.3rem;
        font-weight: normal;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        color: white;
        @include responsive(mobile) {
          grid-column-end: 2;
        }
      }
    }
  }
}